@import "tailwindcss";

:root {
    --text-primary: #2D3748;
    --white: #FFFFFF;
     --primary: #14b8a6;
  --primary-hover: #0d9488;
  --secondary: #d1fae5;
  --background: #f1f5f9;
  --error: #ef4444;


   --tevila-pending-color: #FFB020; /* Amarillo para pendiente */
  --tevila-success-color: #28A745; /* Verde para éxito */
  --tevila-failure-color: #DC3545; /* Rojo para fallo */
  --tevila-background-color: #f3f4f6; /* Fondo gris claro */
  --tevila-text-color: #212529; /* Texto principal */
  --tevila-link-color: #007bff; /* Enlaces */
  

  }
 /* index.css */

body {
  @apply bg-gradient-to-b from-teal-500 to-teal-700 text-white;
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
