@import "tailwindcss";

:root {
    --text-primary: #2D3748;
    --white: #FFFFFF;
     --primary: #14b8a6;
  --primary-hover: #0d9488;
  --secondary: #d1fae5;
  --background: #f1f5f9;




  }
 /* index.css */

body {
  /* @apply bg-gradient-to-b from-teal-500 to-teal-700 text-white; */
  min-height: 100vh;
  margin: 2%;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




.terminos-container {
  padding: 20px 30px;
  gap: 15px;
  color: rgb(53, 53, 53);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5;
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.centrado p {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.actualizacion {
  font-size: 0.9rem;
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
}

.subtitulo {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 15px;
}

.contacto {
  color: #0400ff;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.contacto:hover {
  text-decoration: underline;
  opacity: 0.8;
}

section {
  margin-bottom: 15px;
}